[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Android Studio
Icon=/home/gurezo/android-studio/bin/androidstudio.ico
Path=/home/gurezo/android-studio/bin
Exec=/home/gurezo/android-studio/bin/studio.sh
